header {
  height: 70px;
  background-color: rgb(22, 22, 26);
  padding: 0px;
}

.app-title-wrapper,
nav {
  display: inline-block;
  position: relative;
  padding: 0px;
  height: 100%;
}

ul {
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

li {
  display: inline;
  padding-right: 40px;
}

.header-nav {
  color: #ffffff;
  font: normal 1.2em sans-serif;
  text-decoration: none;
}

.header-nav:hover {
  color: rgb(119, 114, 114);
}

button:hover {
  background: rgb(119, 114, 114);
}

button {
  height: 40px;
}

h1 {
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}

